#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 5rem;
  text-align: center;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

/* FIX: hacer que ::before funcione */
.section {
  position: relative;
  overflow: visible;
  padding: 80px 40px;
}

.section>* {
  position: relative;
  z-index: 1;
}

.section::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 100vw;
  height: 100%;
  transform: translateX(-50%);
  z-index: 0;
}

.section * {
  margin: 0;
}

.section h2 {
  margin-bottom: 2rem;
}

.section-odd {
  color: white;
}

.section-odd::before {
  background: rgb(20, 32, 61);
}

img {
  width: 100%;
  object-fit: cover;
}

#banner {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#profile-pic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

#about-me h2 {
  margin-bottom: 0;
}

#websites {
  margin-top: 15px;
  display: flex;
  gap: 20px;
}

#websites img {
  width: 30px;
  cursor: pointer;
}

#websites img:hover {
  opacity: 0.5;
}

#profile-pic {
  aspect-ratio: 1 / 1;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 50%;
}

#project-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.project-card {
  border: 3px solid rgb(255, 255, 255);
  border-radius: 20px;
  height: 500px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card img {
  width: 100%;
  aspect-ratio: 4 / 3;
}

.info-wrapper {
  padding: 0 30px;
  justify-items: center;
}

.project-card p {
  margin-bottom: 10px;
}

.stack-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.stack {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2px;
  padding: 2px 8px;
}

.experience-section {
  display: grid;
  gap: 5rem;
}

.experience-wrapper {
  padding: 0 10%;
}

.experience-wrapper img {
  width: 100%;
  border-radius: 20px;
  aspect-ratio: 21 / 10;
}

@media screen and (max-width: 768px) {
  #root {
    padding: 0;
  }

  #banner {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
  }

  .info-container {
    text-align: center;
    align-items: center;
  }

  h1 {
    font-size: 40px;
  }

  .project-card {
    height: fit-content;
    padding-bottom: 30px;
  }

  #project-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .experience-wrapper {
    padding: 0;
  }
}

@media screen and (min-width: 769px) {
  #banner {
    height: 40vh;
  }
}